<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WenderLust</title>
</head>
<body>
    <h1>Create a New Listing</h1>
    <form method="POST" action="/listings">
    <input type="text" name="listing[title]" placeholder="enter title">
    <br>
    <textarea name="listing[description]" placeholder="enter description"></textarea>
    <br>
    <input type="text" name="listing[image]" placeholder="enter image URL/Link" type="text">
    <br>
    <input type="number" name="listing[price]" placeholder="enter price">
    <br>
    <input type="text" placeholder="enter country" name="listing[country]">
    <br>
    <input type="text" placeholder="enter location" name="listing[location]">
    <button>Add</button>
    </form>
</body>
</html>